* {
    box-sizing: border-box;
}

body {
    font: 400 14px/1 "PT Sans", sans-serif;
    margin: 0;
}

/* button to null */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.container {
    max-width: 1114px;
    padding: 0 15px;
    margin: auto;
}

.btn {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.333;
    padding: 16px 30px;
}

.btn-default {
    background-color: #ffffff;
    box-shadow: 0px 4px 20px #0f064c;
    color: #0f064c;
}

/* Header section */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    padding: 40px 0;
}

.main-header-nav {
    color: #fff;
    font-weight: 700;
    margin: 0 0 0 65px;
}

.main-header-nav a + a,
.info-header-nav a + a {
    margin: 0 0 0 30px;
}

.info-header-nav {
    color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
}

/* Inner section */

.inner {
    height: 100vh;
    background: linear-gradient(89.85deg, #23196f 0.13%, #180d5b 99.88%);
    padding: 105px 0 0 0;
}

.inner-call-to-action {
    max-width: 540px;
}

.call-to-action-title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 1.29;
    margin: 55px 0 0 0;
}

.call-to-action-description {
    margin: 20px 0 0 0;
    font-size: 18px;
    line-height: 1.333;
    color: rgba(255, 255, 255, 0.8);
    max-width: 385px;
    margin: 0 0 55px 0;
}

.call-to-action-description span {
    color: #36a7b9;
    font-weight: 700;
}

.test-your-email {
    display: inline-block;
}

.email-not-required {
    margin: 15px 0 0 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.email-not-required span {
    margin: 0 0 0 15px;
}
